*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(238,133,133);
    background: linear-gradient(180deg, rgba(238,133,133,1) 0%, rgba(177,45,45,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}